<!-- index dashboard -->
<section class="content-header">
  <h1>
    Dashboard
    <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>
<section class="content">
<div class="row">
  <div class="col-md-12">
    
      

        <div class="nav-tabs-custom">
        
          <ul class="nav nav-tabs pull-right">
            <li class="active"><a href="#projects-charts" data-toggle="tab">Projetos</a></li>
            <li><a href="#employees-charts" data-toggle="tab">Funcionários</a></li>
            <li><a href="#clients-charts" data-toggle="tab">Clientes</a></li>
            <li class="pull-left header"><i class="fa fa-line-chart"></i> Gráficos</li>
          </ul>
          
          <div class="tab-content no-padding">
          
            <div class="chart tab-pane active" id="projects-charts">
            
              <h3>Status dos projetos</h3>
              <div class="chart">
                <%= pie_chart @data_project_status, donut: true %>
              </div>
              
              <h3>Número de projetos por cliente</h3>
              <div class="chart">
                <%= column_chart @data_projects_client, stacked: true, library: {hAxis: {title: "Clientes"}, vAxis:{title: "Quantidade de Projetos"}} %>
              </div>
              
              <h3>Linha do Tempo</h3>
              <div class="chart">
                <%= timeline @data_projects_timeline, library: {title: "Duração dos projetos"} %>
              </div>

            </div>
            
            <div class="chart tab-pane" id="employees-charts">
            
              <h3>Alocação dos funcionários</h3>
              <div class="chart">
                <%= column_chart @data_employees, xtitle: "Número de projetos que o funcionário está alocado", ytitle: "Funcionários" %>
              </div>
              
            </div>
            
            <div class="chart tab-pane" id="clients-charts">
            
              <h3>Status dos clientes</h3>
              <div class="chart">
                <%= pie_chart @data_clients_status %>
              </div>
              
            </div>
            
          </div>

          
        </div>
      
      
    </div>  
  </div>
</section>

