<section class="content-header">
  <h1>
    Visualizar Orcamento
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> DashBoard</a></li>
    <li class="active">Orcamentos</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">

        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-globe"></i>  <%= @orcamento.name %>
            <small class="pull-right">Data Cadastro: <%= @orcamento.created_at.to_s(:long) %></small>
          </h2>
        </div>



        <div class="box-body">

          <div class="row invoice-info">

            <div class="col-sm-6 invoice-col">
              <address>
                <strong>Dados do Orcamento</strong><br>
                Nome do Orcamento: <%= @orcamento.name %><br>
                Cliente: <%= Client.find_by_id(@orcamento.client_id).company_name %><br>
				        Projeto: <%= Project.find_by_id(@orcamento.project_id).name %><br>
                Valor Atual: <%= @orcamento.valorAtual %><br>
				        Valor Planejado: <%= @orcamento.valorPlanejado %><br>
              </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-6 invoice-col">
              <address>
                <strong></strong><br>
                Criado: <%= @orcamento.created_at %><br>
                Atualizacao: <%= @orcamento.updated_at %><br>
               </address>

            </div>


          </div>


          <div class="row no-print">
            <div class="col-xs-12">

              <%= link_to '<i class="fa fa-arrow-left"> Voltar</i>'.html_safe, :orcamentos, :class => 'btn btn-success' %>

              <%= link_to '<i class="fa fa-pencil"> Editar</i>'.html_safe, edit_orcamento_path, :class => 'btn btn-primary pull-right' %>

              <br>
              <br>
              <%= form_tag @orcamento, :method => 'delete' do %>

              <%= button_tag class: "btn btn-primary pull-right" do %>
              <i class="fa fa-times"> Excluir</i>
              <% end %>

              <% end %>

            </div>
          </div>



        </div>


      </div>
    </div>
  </div>
</section>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Inserir Alocação</h4>
      </div>

    </div>
  </div>
</div>