<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">

        <div class="box-header">
          <h3 class="box-title">Novo Cliente</h3>
        </div>

          

            <%= form_for(@client, html: { class: "box-body", role: "form" }) do |f| %>
            <% if @client.errors.any? %>
            <div class="alert alert-danger alert-dismissable" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h4>

              <ul>
                <% @client.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
            <% end %>

            <% if flash[:alert] %>
              <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="icon fa fa-ban"></i> <%= flash[:alert] %>
                  
                </div>
          <% end %>

            <!-- Nome da Empresa -->
            <div class="col-md-6">
              <div class="form-group">
                
                <%= f.label "Nome da Empresa *" %>
                
                <%= f.text_field :company_name, class: "form-control", id: "txt_nome_empresa", placeholder: "Digite o Nome da Empresa" %>

              </div>
            </div>
            <!-- Nome da Empresa -->


            <!-- Nome do Contato -->
            <div class="col-md-6">
              <div class="form-group">
                
                <%= f.label "Nome do Contato *"%>
                
                <%= f.text_field :contact_name, class: "form-control", id: "txt_nome_contato", placeholder: "Digite o Nome do Contato" %>

              </div>
            </div>
            <!-- Nome do Contato -->


            <!-- CEP -->
            <div class="col-md-4">
              <div class="form-group">
                
                <%= f.label "CEP *"%>
                
                <%= f.text_field :zip_code, class: "form-control", id: "txt_cep", placeholder: "Digite o CEP" %>

              </div>
            </div>
            <!-- CEP -->


            <!-- Logradouro -->
            <div class="col-md-8">
              <div class="form-group">
                
                <%= f.label "Logradouro *"%>
                
                <%= f.text_field :adress, class: "form-control", id: "txt_endereco", placeholder: "Digite o Logradouro" %>

              </div>
            </div>
            <!-- Logradouro -->


            <!-- Número -->
            <div class="col-md-2">
              <div class="form-group">
                
                <%= f.label "Número *"%>
                
                <%= f.text_field :number, class: "form-control", id: "txt_numero", placeholder: "Digite o Número" %>

              </div>
            </div>
            <!-- Número -->


            <!-- Complemento -->
            <div class="col-md-5">
              <div class="form-group">
                
                <%= f.label "Complemento"%>
                <%= f.text_field :complement, class: "form-control", id: "txt_complemento", placeholder: "Digite o Complemento" %>

              </div>
            </div>
            <!-- Complemento -->


            <!-- Bairro -->
            <div class="col-md-5">
              <div class="form-group">
                
                <%= f.label "Bairro *"%>
                
                <%= f.text_field :district, class: "form-control", id: "txt_bairro", placeholder: "Digite o Bairro" %>

              </div>
            </div>
            <!-- Bairro -->


            <!-- Cidade -->
            <div class="col-md-4">
              <div class="form-group">
                
                <%= f.label "Cidade *"%>
                
                <%= f.text_field :city, class: "form-control", id: "txt_cidade", placeholder: "Digite o Cidade" %>

              </div>
            </div>
            <!-- Cidade -->


            <!-- Estado -->
            <div class="col-md-4">
              <div class="form-group">
                
                <%= f.label "Estado *"%>
                
                <%= f.text_field :state, class: "form-control", id: "txt_estado", placeholder: "Digite o Estado" %>

              </div>
            </div>
            <!-- Estado -->


            <!-- País -->
            <div class="col-md-4">
              <div class="form-group">
                
                <%= f.label "País *"%>
                
                <%= f.text_field :country, class: "form-control", id: "txt_pais", placeholder: "Digite o País" %>

              </div>
            </div>
            <!-- País -->


            <!-- Telefone -->
            <div class="col-md-6">
              <div class="form-group">
                
                <%= f.label "Telefone *"%>
                
                <%= f.text_field :phone_number, class: "form-control", id: "txt_telefone", placeholder: "Digite o Telefone" %>

              </div>
            </div>
            <!-- Telefone -->


            <!-- Celular -->
            <div class="col-md-6">
              <div class="form-group">
                
                <%= f.label "Celular"%>
                <%= f.text_field :cell_phone, class: "form-control", id: "txt_celular", placeholder: "Digite o Celular" %>

              </div>
            </div>
            <!-- Celular -->


            <!-- Email -->
            <div class="col-md-6">
              <div class="form-group">
                
                <%= f.label "Email *"%>
                
                <%= f.text_field :email, class: "form-control", id: "txt_email", placeholder: "Digite o Email" %>

              </div>
            </div>
            <!-- Email -->


            <!-- Situação -->
            <div class="col-md-6">
              <div class="form-group">
                
                <%= f.label "Situação *"%>

                <%= f.select(:status, ['Ativo', 'Inativo'], {}, { :class => 'form-control' }) %>


              </div>
            </div>
            <!-- Situação -->



              <div class="form-group">
                  <%= f.submit class: "btn btn-primary" %>
              </div>

              <div class="form-group has-error">
                <label class="control-label" for="inputError">
                  * Campos Obrigatórios
                </label>
              </div>
            <% end %>
      </div>
    </div>
  </div>
</section>