<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">

        <div class="box-header">
          <h3 class="box-title">Clientes</h3>

          <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

              <div class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>



        <div class="box-body table-responsive">

        <table class="table">

            <tr>
              <th>Editar</th>
              <th>ID</th>
              <th>Nome da Empresa</th>
              <th>Telefone</th>
              <th>Status</th>
              <th>Email</th>
            </tr>

            <% @clients.each do |client| %>
            <tr>

              <td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, client%></td>
              <td><%= client.id %></td>
              <td><%= client.company_name %></td>
              <td><%= client.phone_number %></td>
              
              <td>

              <% if client.status == "Ativo" %>
                <span class="label label-success">Ativo</span>
              <% else %>
                <span class="label label-danger">Inativo</span>
              <% end %>

              </td>

              <td><%= client.email %></td>
            </tr>
            <% end %>

          </table>
        </div>


      </div>
    </div>
  </div>


</section>
