<h1><%= @client.company_name %></h1>
<dl>
  <dt>Nome da empresa:</dt>
  <dd><%= @client.company_name %></dd>

  <dt>Nome do contato:</dt>
  <dd><%= @client.contact_name %></dd>

  <dt>Telefone:</dt>
  <dd><%= @client.phone_number %></dd>

  <dt>Email:</dt>
  <dd><%= @client.email %></dd>

</dl>

<%= link_to "Voltar", :clients  %>
<%= link_to "Editar", edit_client_path %>
