  <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="pull-left image">
            
            <!-- <img src="assets/user2-160x160.jpg" class="img-circle" alt="User Image"> -->
            <%= image_tag("user2-160x160.jpg", :class => "img-circle", :alt => "User Image") %>

          </div>
          <div class="pull-left info">
            <p><%= current_user.name %></p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
          </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                  <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                  </button>
                </span>
          </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
          <li class="header">MAIN NAVIGATION</li>
          
          <!-- DashBoard -->
          <li class="<%= active_class('dashboard') %> treeview">
            <%= link_to '<i class="fa fa-dashboard"></i><span>Dashboard</span>'.html_safe, dashboard_path %>
          </li>

          <!-- Projetos -->
          <li class="<%= active_class('projects') %> treeview">
            <%= link_to '<i class="fa fa-briefcase"></i><span>Projetos</span>'.html_safe, projects_path %>
              
          </li>

          <!-- Clientes -->
          <li class="<%= active_class('clients') %> treeview">
            <a href="/clients">
              <i class="fa fa-handshake-o"></i> <span>Clientes</span>
            </a>
          </li>

          <!-- Funcionários -->
          <li class="<%= active_class('employees') %> treeview">
            <a href="/employees">
              <i class="fa fa-users"></i> <span>Funcionários</span>
            </a>
          </li>

          <!-- Orçamentos -->
          <li class="<%= active_class('orcamentos') %> treeview">
            <%= link_to '<i class="fa fa-shopping-cart"></i><span>Orcamentos</span>'.html_safe, orcamentos_path %>
              
          </li>

          <!-- Propostas Técnicas -->
          <li class="treeview">
            <a href="/">
              <i class="fa fa-line-chart"></i> <span>Propostas Técnicas</span>
            </a>
          </li>

          <!-- Entregas de Software -->
          <li class="treeview">
            <a href="/">
              <i class="fa fa-code"></i> <span>Entregas de Software</span>
            </a>
          </li>

          <!-- Pagamentos -->
          <li class="treeview">
            <a href="/">
              <i class="fa fa-money"></i> <span>Pagamentos</span>
            </a>
          </li>


          <!-- Configurações -->
            <li class="treeview active">
            <a href="#">
              <i class="fa fa-cogs"></i> <span>Configurações</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="/"><i class="fa fa-circle-o"></i> Parâmetros</a></li>
              <li><a href="/knowledges"><i class="fa fa-circle-o"></i> Base de Conhecimento</a></li>
              <li><a href="/"><i class="fa fa-circle-o"></i> Usuários</a></li>
              <li><a href="/"><i class="fa fa-circle-o"></i> Acessos</a></li>
            </ul>
          </li>
        </ul>
      </section>
      <!-- /.sidebar -->
    </aside>