<!-- Projects index -->
<section class="content-header">
	<h1>Projetos</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
	  <li class="active">Projetos</li>
	</ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-body">
          <div class="col-md-3">
            <%= link_to 'Novo Projeto', new_project_path, class: 'btn btn-block btn-info' %>
          </div>
        </div>
	      <div class="box-body table-responsive">
		      <table class="table">
		        <tr>
		          <th>Nome</th>
		          <th>Data início</th>
		          <th>Data fim</th>
		          <th>Ações</th>
		        </tr>
		        <% @projects.each do |project| %>
		          <tr>
		            <td><%= project.name %></td>
		            <td><%= project.date_begin %></td>
		            <td><%= project.date_end %></td>
		            <td><%= link_to "Ver", project %></td>
		            <!--<td><%= link_to "Remover", project, method: :delete %></td>-->
		          </tr>
		        <% end %>
		      </table>
        </div>
      </div>
    </div>
  </div>
</section>

