<!-- mostrar cliente -->
<section class="content-header">
  <h1><%= @project.name %></h1>
  <ol class="breadcrumb">
	  <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
	  <li><%= link_to '<i class="fa fa-briefcase"></i>Projetos'.html_safe, projects_path%></li>
		<li class="active"><%= @project.name %></li>
	</ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-body">
          <div class="row invoice-info">
            <div class="col-sm-6 invoice-col">
              <dl>
                <dt>Data de início:</dt>
                <dd><%= @project.date_begin %></dd>

                <dt>Data fim:</dt>
                <dd><%= @project.date_end %></dd>

                <dt>Custo:</dt>
                <dd><%= @project.cost %></dd>

                <dt>Descrição:</dt>
                <dd><%= @project.description %></dd>
                <dt>Cliente:</dt>
                <dd><%= @project.client.company_name %></dd>
              </dl>
            </div>
            
          </div>
          <%= link_to '<i class="fa fa-arrow-left"> Voltar</i>'.html_safe, :projects, class: 'btn btn-success' %>
          <%= link_to '<i class="fa fa-pencil"> Editar</i>'.html_safe, edit_project_path, class:'btn btn-primary pull-right' %>
          <%= form_tag @project, :method => 'delete' do %>

            <%= button_tag class: "btn btn-primary pull-right" do %>
            <i class="fa fa-times"> Excluir</i>
            <% end %>

          <% end %>
        </div>
      </div>
    </div>
  </div>
  
</section>
