<section class="content-header">
  <h1>
    Lista de Conhecimentos
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> DashBoard</a></li>
    <li class="active">Configurações</li>
    <li class="active">Base de Conhecimento</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">

        <div class="box-header">
          <h3 class="box-title">Base de Conhecimento</h3>
        </div>


        <div class="box-body">

          <div class="col-md-3">
            <td>
              <a class="btn btn-block btn-info" href="/knowledges/new">Cadastrar Conhecimento</a>
            </td>
          </div>

          <div class="box-tools pull-right">
            <div class="input-group input-group-sm">

              <%= form_tag :knowledges, :class => "input-group custom-search-form", :method => 'get' do %>

              <%= text_field_tag :search, params[:search], :name => "table_search", :class => "form-control pull-right", :placeholder => "Pesquisar" %>

              <div class="input-group-btn">
                <%= button_tag type: 'submit',  class: "btn btn-default" do %>
                <i class="fa fa-search"></i>
                <% end %>
              </div>



              <% end %>

            </div>
          </div>

        </div>

        <div class="box-body table-responsive">

          <table class="table">

            <tr>
              <th>Abrir</th>
              <th>ID</th>
              <th>Nome</th>
              <th>Tipo</th>
            </tr>

            <% @knowledges.each do |knowledge| %>
            <tr>

              <td><%= link_to '<i class="fa fa-eye"></i>'.html_safe, knowledge%></td>
              <td><%= knowledge.id %></td>
              <td><%= knowledge.name %></td>
              <td><%= knowledge.group %></td>
            </tr>
            <% end %>

          </table>
        </div>


      </div>
    </div>
  </div>

</section>
