<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css' %>
	  <%= stylesheet_link_tag 'https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css' %>
	  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css' %>

  </head>

  <body class="hold-transition login-page">
  <div class="login-box">
    
    <%= image_tag ('maestro_logo_burned') %>
  
    <%= yield %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </div>
  </body>
</html>
